EyeWebApp/Service References/EyeWebService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:46212/EyeWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:46212/EyeWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:46212/EyeWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EyeWebService.UtilClasses" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EyeWebService_SetProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProfile" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_SetProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetProfileResponse" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_GetUserTypeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeId" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_GetUserTypeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTypeIdResponse" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_ListChildrenProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:ListChildrenProfile" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_ListChildrenProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListChildrenProfileResponse" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_GetPatientProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientProfile" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_GetPatientProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPatientProfileResponse" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_ListProviderProfiles_InputMessage">
    <wsdl:part name="parameters" element="tns:ListProviderProfiles" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_ListProviderProfiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListProviderProfilesResponse" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_SetChildProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:SetChildProfile" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_SetChildProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetChildProfileResponse" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_ListPatientsProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:ListPatientsProfile" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_ListPatientsProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListPatientsProfileResponse" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="EyeWebService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="EyeWebService">
    <wsdl:operation name="SetProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/SetProfile" message="tns:EyeWebService_SetProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/SetProfileResponse" message="tns:EyeWebService_SetProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/GetUserId" message="tns:EyeWebService_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/GetUserIdResponse" message="tns:EyeWebService_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeId">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/GetUserTypeId" message="tns:EyeWebService_GetUserTypeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/GetUserTypeIdResponse" message="tns:EyeWebService_GetUserTypeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListChildrenProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/ListChildrenProfile" message="tns:EyeWebService_ListChildrenProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/ListChildrenProfileResponse" message="tns:EyeWebService_ListChildrenProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPatientProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/GetPatientProfile" message="tns:EyeWebService_GetPatientProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/GetPatientProfileResponse" message="tns:EyeWebService_GetPatientProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListProviderProfiles">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/ListProviderProfiles" message="tns:EyeWebService_ListProviderProfiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/ListProviderProfilesResponse" message="tns:EyeWebService_ListProviderProfiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetChildProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/SetChildProfile" message="tns:EyeWebService_SetChildProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/SetChildProfileResponse" message="tns:EyeWebService_SetChildProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListPatientsProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/ListPatientsProfile" message="tns:EyeWebService_ListPatientsProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/ListPatientsProfileResponse" message="tns:EyeWebService_ListPatientsProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/EyeWebService/GetUserProfile" message="tns:EyeWebService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/EyeWebService/GetUserProfileResponse" message="tns:EyeWebService_GetUserProfile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_EyeWebService" type="tns:EyeWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetProfile">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/SetProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTypeId">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/GetUserTypeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListChildrenProfile">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/ListChildrenProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPatientProfile">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/GetPatientProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListProviderProfiles">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/ListProviderProfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetChildProfile">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/SetChildProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListPatientsProfile">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/ListPatientsProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserProfile">
      <soap:operation soapAction="http://tempuri.org/EyeWebService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_EyeWebService" binding="tns:BasicHttpBinding_EyeWebService">
      <soap:address location="http://localhost:46212/EyeWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>